parameters:
    level: 0
    paths:
        - app
        - Modules
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\.*#'
        - '#Call to an undefined method Illuminate\\.*#'
        - '#Method .* not found in Laravel container#'
        - '#Class Illuminate\\.* not found#'
        - "#Relation '.*' is not found in App\\\\Models\\\\.* model#"
        - '#Call to an undefined static method .*#'
        - '#Dynamic property .* not found#'
        - '#.* not found in Laravel container#'
    excludePaths:
        - bootstrap/cache/**
        - storage/**
        - public/**
        - vendor/**
        - database/migrations/**
        - database/factories/**
